<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{post.status}} - {{post.title}}</title>
  <link rel="stylesheet" href="/css/bundle.min.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="eleven columns">
                <h5 class="title" title="Write and publish static pages!">BLOGEL</h5>
            </div>
            <div class="five columns" data-module="navigation">
                <ul id="nav">
                     <li><a href="#" title="Save Draft" id="update-btn" data-type="update-btn"><i class="fa fa-lg fa-save"></i></a>
                    </li>
                    <li>
                      <a href="/logout" title="{{user-status}}" id="user-btn">
                        <i class="fa fa-lg fa-sign-in"></i>
                      </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="sixteen columns page-status">
            <span id="status" title="{{post.id}}">{{post.status}}</span> <i class="fa fa-calendar-o"></i> {{post.lastUpdated}}
        </div>
        <h1 class="editable">{{post.title}}</h1>
        <div class="editable sixteen columns">{{post.content}}</div>
    </div>
    <script src="/js/vendor/jquery-1.11.0.min.js"></script>
    <script src="/js/vendor/t3-2.0.2.js"></script>
    <!-- modules -->
    <script src="/js/blogel/modules/navigation.js"></script>
    <!-- services -->
    <script src="/js/blogel/services/post.js"></script>
    <script>
      Box.Application.init({
        debug: true
      })
    </script>
    <script src="/js/bundle.min.js"></script>
</body>
</html>
