<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{version}}</title>
    <link rel="stylesheet" type="text/css" href="css/skeleton/base.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton/layout.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton/skeleton.css">
    <link rel="stylesheet" href="css/medium-editor.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pagedek.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="eleven columns">
                <h5 class="title" title="Write and publish static pages!">PAGEDEK</h5>
            </div>
            <div class="five columns">
                <ul id="nav">
                    <li><a href="/login" title="Login" id="login-btn" class="button">Login</a>
                    </li>
                    <li><a href="/signup" title="Signup" id="signup-btn" class="button">Signup</a>
                    </li>
                </ul>
            </div>
        </header>
        <h1>Static Page Generator</h1>
        <div class="sixteen columns">
            <p>
                Login or signup to use it! Thanks.
            </p>
        </div>
    </div>
    <!-- should be bundled -->
    <script src="js/vendor/jquery-1.11.0.min.js"></script>
    <script src="js/medium-editor.min.js"></script>
    <script src="js/pagedekui.js"></script>
</body>

</html>
