<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{version}}</title>
    <link rel="stylesheet" type="text/css" href="css/skeleton/base.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton/layout.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton/skeleton.css">
    <link rel="stylesheet" href="css/medium-editor.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
   
    <link rel="stylesheet" href="css/pagedek.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="eleven columns">
                <h5 class="title" title="Write and publish static pages!">PAGEDEK</h5>
            </div>
        </header>
        <div class="sixteen columns">
            <div class="text-center">
                <h1>
                    <span class="fa fa-lock"></span> Static Page Generator</h1> 
                <p>Login or Register with:</p>

                <a href="/login" class="button">
                    <span class="fa fa-user"></span> Login</a>
                <a href="/signup" class="button">
                    <span class="fa fa-user"></span> Signup</a>
            </div>

        </div>
    </div>
    <!-- should be bundled -->
    <script src="js/vendor/jquery-1.11.0.min.js"></script>
    <script src="js/medium-editor.min.js"></script>
    <script src="js/pagedekui.js"></script>
</body>

</html>
