<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{version}}</title>
    <link rel="stylesheet" type="text/css" href="css/skeleton/base.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton/layout.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton/skeleton.css">
    <link rel="stylesheet" href="css/medium-editor.css">
    <link rel="stylesheet" href="css/pagedek.css">
</head>

<body>
    <div class="container">
        <header>
        	<h3>Pagedek</h3>
        </header>
      	<h1 class="editable">Title Here</h1>
        <div class="editable sixteen columns">

        </div>
    </div>
    <script src="js/medium-editor.min.js"></script>
   	<script src="js/pagedekui.js"></script>
</body>

</html>
