<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{version}}</title>
    <link rel="stylesheet" type="text/css" href="css/skeleton/base.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton/layout.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton/skeleton.css">
    <link rel="stylesheet" href="css/medium-editor.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pagedek.css">
</head>

<body>
    <div class="container">
        <header>
        	<div class="eleven columns">
        	<h3>Pagedek</h3>
			</div>
			<div class="five columns">
				<ul id="nav">
					<li><a href="#" title="Publish"><i class="fa fa-lg fa-cloud-upload"></i></a></li>
					<li><a href="#" title="Save"><i class="fa fa-lg fa-save"></i></a></li>
					<li><a href="#" title="Settings"><i class="fa fa-lg fa-gear"></i></a></li>
					<li><a href="#" title="Trash"><i class="fa fa-lg fa-trash-o"></i></a></li>
				</ul>
			</div>
        </header>
      	<h1 class="editable">Title Here</h1>
        <div class="editable sixteen columns">

        </div>
    </div>
    <script src="js/medium-editor.min.js"></script>
   	<script src="js/pagedekui.js"></script>
</body>

</html>
