<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{version}}</title>
    <link rel="stylesheet" href="/css/bundle.min.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="eleven columns">
                <h5 class="title" title="Write and publish static pages!">BLOGEL</h5>
            </div>
            <div class="five columns" data-module="navigation">
                <ul id="nav">
                    <li>
                      <a href="#" title="New Post" data-type="new-btn"><i class="fa fa-lg fa-plus"></i></a>
                    </li>
                    <li><a href="/logout" title="{{user-status}}" id="user-btn"><i class="fa fa-lg fa-sign-in"></i></a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="sixteen columns page-status">
            <h1>Blog</h1>
            <ul>
            {{#each blogList}}
              <li><h2>{{title}}</h2> <cite><a href="/posts/{{id}}">{{id}}</a> ({{status}})<cite></li>
            {{/each}}
            </ul>
        </div>
    </div>
    <script src="/js/vendor/jquery-1.11.0.min.js"></script>
    <script src="/js/vendor/t3-2.0.2.js"></script>
    <script src="/js/app.min.js"></script>
    <!-- modules -->
    <script src="/js/blogel/modules/navigation.js"></script>
    <!-- services -->
    <script src="/js/blogel/services/post.js"></script>
    <script>
      Box.Application.init({
        debug: true
      })
    </script>
    <script src="/js/bundle.min.js"></script>
</body>
</html>
