<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{version}}</title>
    <link rel="stylesheet" href="css/bundle.min.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="eleven columns">
                <h5 class="title" title="Write and publish static pages!">BLOGEL</h5>
            </div>
            <div class="five columns">

            </div>
        </header>
        <!--
        <h1 class="loginHeader">Login</h1>
        -->
        {{#if message}}
            <div class="simplenotif">{{message}}</div>
        {{/if}}

        <div class="sixteen columns">
            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div>
                    <label>Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password">
                </div>

                <button type="submit">Login</button>
            </form>

            <hr>

            <p>Need an account? <a href="/signup">Signup</a>
            </p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
    <script src="js/vendor/jquery-1.11.0.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="js/bundle.min.js"></script>
</body>

</html>
