<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{version}}</title>
    <link rel="stylesheet" href="css/bundle.min.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="eleven columns">
                <h5 class="title" title="Write and publish static pages!">BLOGEL</h5>
            </div>
            <div class="five columns">

            </div>
        </header>
        <!--
        <h1 class="loginHeader">Signup</h1>
        -->
        {{#if message}}
            <div class="simplenotif">{{message}}</div>
        {{/if}}
        
        <div class="sixteen columns">
            <!-- LOGIN FORM -->
            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </form>

            <hr>

            <p>Already have an account? <a href="/login">login</a>
            </p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
    <script src="js/vendor/jquery-1.11.0.min.js"></script>
    <script src="js/bundle.min.js"></script>
</body>
</html>
